<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		/*Conexion con BD */
		<add name="cadena_conexion" connectionString="Data Source=BDNAME;Initial Catalog=applicoreria;Persist Security Info=True;User ID=USERID;Password=Password" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>